<html>
  <head>
    <title><%= title%></title>
    <script
      src="https://kit.fontawesome.com/6e3ab34902.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <h1 id="page-header">
      <i class="fas fa-address-book"></i> My Contacts Lists
    </h1>

    <div id="Lists">
      <ul>
        <% for(let i of contact_lists) { %>
        <li>
          <p><%= i.name %></p>
          <p><%= i.phone%></p>
        </li>
        <%}%>
      </ul>
    </div>

    <form action="/create_contacts" method="post">
      <input
        class="fields"
        type="text"
        name="name"
        placeholder=" Name"
        required
      />
      <input
        class="fields"
        type="number"
        name="phone"
        placeholder=" Phone"
        required
      />
      <button type="submit">Add</button>
    </form>

    <script type="text/javascript" src="/js/home.js"></script>
  </body>
</html>
