<html>
  <head>
    <title><%= title%></title>
  </head>
  <body>
    <h1>Rendered from ejs -- > Contact lists</h1>

    <div>
      <ul>
        <% for(let i of contact_lists) { %>
        <li>
          <p><%= i.name %></p>
          <p><%= i.phone%></p>
        </li>
        <%}%>
      </ul>
    </div>
  </body>
</html>
