#top{
    background-color: #0062ff;
    display: flex;
    height: 50px;
    justify-content: space-between;
    h2{
       margin-top: 7px;
       color: #e4e4e2;
       padding-left: 4px;
    }
    ul{
        padding-right: 14px;
        list-style: none;
        text-decoration: none;
        .headli{
            display: inline-flex;
            a{
                text-decoration: none;
                font-size: 1rem;
                font-weight: 600;
                color: rgb(243, 243, 243);
            }
            
        }
    }
   
}