#login-main{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    input{
        width: 15vw;
        padding: 4px;
        margin-top: 5px;
        border-radius: 20px;
        outline: none;
        text-align: center;
        border: 1.3px solid black;
    }
    button{
        padding: 5px;
        margin-top: 5px;
        
    }
}