
body{
   margin:0%;
   font-family: sans-serif;
}

#page-header{
    margin-top: 50px;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 3px;
}

#Lists{
    /* text-align: center; */
   margin: auto;
    width: 350px;
   
}
.contact{
    display: flex;
    list-style: none;
    background-color: bisque;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 3px;
    cursor: pointer;
}

.details{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}
.delete-btn{
   width: 5%;
   margin: auto;
}
.delete-btn a{
    color: crimson;
}
p{
    font-size: 1.2rem;
    font-family: monospace;
}

.contact:hover{
    background-color: rgb(156, 122, 71);
}
ul{
    margin: 0%;
  padding-left: 0%; 
}

#contact-form{
    text-align: center;
    margin-top: 10px;
}
.fields{
    border-top: none;
    border-left: none;
    border-right: none;
}
button{
    background-color: cadetblue;
    outline: none;
    border-radius: 1px;
}