<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <figure class="figure figure-1">
        <img src="./images/food1.jpeg" class="item item-1" alt="Img1" />
      </figure>
      <figure class="figure figure-2">
        <img src="./images/food2.jpeg" class="item item-2" alt="Img2" />
      </figure>
      <figure class="figure figure-3">
        <img src="./images/food3.jpeg" class="item item-3" alt="Img3" />
      </figure>
      <figure class="figure figure-4">
        <img src="./images/food4.jpeg" class="item item-4" alt="Img4" />
      </figure>
      <figure class="figure figure-5">
        <img src="./images/food5.jpeg" class="item item-5" alt="Img5" />
      </figure>
      <figure class="figure figure-6">
        <img src="./images/food6.jpeg" class="item item-6" alt="Img6" />
      </figure>
      <figure class="figure figure-7">
        <img src="./images/food7.jpeg" class="item item-7" alt="Img7" />
      </figure>
      <figure class="figure figure-8">
        <img src="./images/food8.jpeg" class="item item-8" alt="Img8" />
      </figure>
      <figure class="figure figure-9">
        <img src="./images/food9.jpeg" class="item item-9" alt="Img9" />
      </figure>
      <figure class="figure figure-10">
        <img src="./images/food10.jpeg" class="item" alt="Img10" />
      </figure>
    </div>
  </body>
</html>
