<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="box">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem, rem
        soluta illo fuga eos, facilis sed hic libero sapiente provident sequi
        enim minima quidem? Fugit illo laborum vero doloremque ex! Quis soluta
        nihil aperiam voluptas eius eligendi adipisci accusantium inventore,
        eum, voluptates provident beatae obcaecati laboriosam mollitia dicta. A,
        distinctio officia sequi mollitia voluptate blanditiis obcaecati qui
        dolor voluptates eaque consequuntur ut quis animi totam voluptatem minus
        ipsa quasi. Dolore, deserunt quae velit ipsum perspiciatis atque
        possimus maiores accusamus ut qui tempora quis labore natus porro culpa,
        hic incidunt, odio unde inventore placeat necessitatibus ipsa beatae
        iste quasi? Eos, repudiandae?
      </p>
    </div>
  </body>
</html>
