.container {
  display: grid;
  /* grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px; */

  /* or
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(2, 100px); */

  /* grid-template: repeat(3, 100px) / repeat(2, 100px); */

  grid-template: 100px auto 100px / 30fr 70fr;

  grid-template-areas:
    "header   header"
    "sidebar  main"
    ".        footer";

  /* row-gap: 10px;
  column-gap: 10px; */

  /* gap: 10px 20px; */
  gap: 10px;
  border: 3px solid navy;

  /* justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center; */

  height: 100vh;
}

.box {
  /* width: 5rem;
  height: 5rem; */
  background: orange;
}
.box-1 {
  /* grid-column: 1 / span 2; */
  grid-area: header;
}
.box-4 {
  grid-area: footer;
}
