<header id="top">
  <h2>codeial</h2>
  <ul>
    <%if(locals.user){%>
    <li class="headli"><a href="/users/profile"><%= user.name%></a></li>
    <li class="headli"><a href="/users/signout">Sign Out</a></li>
    <%}else{%>
    <li class="headli"><a href="/users/login">Login</a></li>
    <li class="headli"><a href="/users/signup">Sign Up</a></li>
    <%}%>
  </ul>
</header>
