<form action="/users/create-signin" method="post" id="login-main">
  <label for="userN">Username</label>
  <input type="email" name="email" id="userN" required />
  <label for="pwd">Password</label>
  <input type="password" name="password" id="pws" required />
  <button type="submit">sign in</button>
</form>
