<form action="/users/create-signup" method="post" id="signup-main">
  <label for="userN">Username</label>
  <input type="email" name="email" id="userN" required />
  <label for="Un">Full Name</label>
  <input type="text" name="name" id="Un" required />
  <label for="pwd">Password</label>
  <input type="password" name="password" id="pws" required />
  <label for="cpwd">Confirm Password</label>
  <input type="password" name="C_password" id="cpws" required />

  <button type="submit">sign up</button>
</form>
